* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Times New Roman', Times, serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: white;
}

header .logo {
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  font-size: 18px;
}

.hero {
  background-color: #f4f4f4;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.cta-btn {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}

.features {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
}

.feature {
  text-align: center;
  width: 30%;
}

.feature h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact {
  background-color: #f4f4f4;
  padding: 50px 20px;
  text-align: center;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header .logo {
    margin-bottom: 20px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }

  .feature {
    width: 80%;
    margin-bottom: 20px;
  }

  .cta-btn {
    font-size: 16px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 16px;
  }

  .contact input,
  .contact textarea {
    padding: 8px;
  }

  .contact button {
    font-size: 16px;
    padding: 8px 16px;
  }

.dropdown-item:hover {
  background-color: rgb(255, 217, 0);
  color: black;
}

}